{
  "tibber_token": "your_token_from_tibber",
  "tibber_home_id": "your_tibber_home_id",
  "port_webserver": 8080,
  "portal_user" : "your_e3dc_portal_user",
  "portal_password" : "your_e3dc_portal_password",
  "e3dc_port" : "5033",
  "e3dc_ip" : "your_local_e3dc_ip_adress",
  "rscp_password" : "your_rscp_password",
  "setpower_interval" : 10,
  "max_charge_power" : 3000,
  "charging_hours" : 3
}