%html.h-100{lang:"en"}
  %head
    %title E3DC GRID Charge Webinterface
    %link{rel:"stylesheet", href:"/css/bootstrap.min.css"}
    %meta{charset:"UTF-8"}
    %meta{name:"viewport", content:"width=device-width, user-scalable=0"}
  %body.h-100.d-flex.flex-column{style: "overflow-x: hidden;"}
    .container
      %h2 Preisübersicht
      -var highest_price = 0
      -for(var i = 0, len = all_prices.length; i < len; i++)
        -if(highest_price < all_prices[i].total)
        -highest_price = all_prices[i].total
      -for(var i = 0, len = all_prices.length; i < len; i++)
        -var price = all_prices[i].total
        -var price_hour = new Date(all_prices[i].startsAt)
        -var additional_progress_style = "opacity: 0.3"
        -var bar_color = 'bg-info'
        -if(all_prices_night.includes(all_prices[i]))
          -additional_progress_style = 'opacity: 1'
        -if(charging_hours.includes(all_prices[i].startsAt))
          -bar_color = 'bg-success'
        =price_hour.toLocaleString()
        .progress{style: "margin-bottom: 5px;"+additional_progress_style}
          .progress-bar{role:"progressbar", style:"color: black; width: "+(price/highest_price*100)+"%", class: bar_color}=Math.round(price*100) + ' Cent'
      %br
      In grün die billigsten Stunden, zu denen der Speicher geladen wird.
    .footer.mt-auto.py-3
      .container
        %span.text-muted
          Maintained by
          %a{href: "https://t.me/Master92"} Moritz Mair
          . For contributing please make a pull request on
          %a{href: "https://github.com/moritzmair/e3dc_grid_charge"} Github
          .